<footer id="footer" class="footer text-center text-lg-start py-3 mt-auto">
    <div class="container">
        <!-- “On small screens (sm, ≥576px) and above, the .row should automatically create 2 equal-width columns for its children.”    -->
        <div class="row row-cols-sm-2">
            <div class="col col-md-6 text-md-start">
                <p>© 2025 FoodBazaar</p>
            </div>
            <div class="col col-md-6 text-md-end">
                <div class="social-links">
                    <a
                        href="https://www.facebook.com"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Visit our Facebook page"
                        class="me-2"
                        ><i class="fa-brands fa-square-facebook"></i
                    ></a>
                    <a
                        href="https://x.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Follow us on Twitter"
                        class="me-2"
                        ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                    <a
                        href="https://www.instagram.com"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Follow us on Instagram"
                        class="me-2"
                        ><i class="fa-brands fa-instagram"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</footer>
