
<header id="header" class="hero container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 p-5">

            <h1 class="display-2 fw-bold text-center">Food Bazaar</h1>
            <p class="h1 text-center py-2">Authentic taste of India</p>
            <p class=" my-4 text-center ">
                Discover the joy of real, mouth-watering food delivered with
                passion and care because at FoodBazaar, every bite tells a
                story.
            </p>   
            
        </div>
    </div>
</header>
