<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom fixed-top"
>
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"
            ><i class="fas fa-fire"></i> <strong>FoodBazaar</strong>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="{% url 'home' %}"
                    ><i class="fa-solid fa-house-chimney"></i> Home</a
                >
                <a class="nav-link text-white" href="{% url 'register' %}"
                    ><i class="fa-solid fa-users"></i>Register</a
                >
                <a class="nav-link text-white" href="#"
                    ><i class=" fa-solid fa-key"></i> Login</a
                >
            </div>
        </div>
    </div>
</nav>
