/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*body*/
body{
    margin-top: 0px;
   
}
a{
    text-decoration: none !important;
}
.navbar{
    background-color: #000000 !important;
}


.navbar-custom .nav-link:hover {
    text-decoration: underline;
}
/* Add overflow-x hidden to prevent horizontal scrolling */
header {
    overflow-x: hidden;
}
/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 37, 37, 0.2)),
        url("../images/hero_fb.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom ;
    color: #fff;
    padding: 8rem 0;
    min-height:500px;
}
/*button*/

.custom-primary {
    background-color: #D62828 !important;
    border-color: #D62828 !important;
    color: white !important;
}

.custom-primary:hover {
    background-color: transparent !important;
    color: #D62828 !important;
    border: 2px solid #D62828 !important;
    font-weight: 700;
}




/* Hover effect for card title */
.card.card{
    border-radius: 30% !impotant;
}
.card-title:hover {
    color: #D62828;       /* Change text color on hover */
    font-size: 1.4em;     /* Increase font size on hover */
    transition: all 0.4s ease; /* Smooth transition */
}

/* Hover effect for card text */
.card-text:hover {
    color: #D62828;       /* Change text color on hover */
    font-size: 1.1em;     /* Slightly increase font size */
    
}
.old_price{
    font-size: 1.1rem;
    background-color:red;
    padding: 2px 6px;
    color: white;
    border-radius: 5px;
}
.new_price{
    font-size: 1.1rem;
    background-color:green;
    padding: 2px 6px;
    color: white;
    border-radius: 5px;
}

.input-group {
    width: 150px;
}





/*Footer*/

#footer .social-links {
   

   
       
}